@import "./global.scss";

.dotMenu{
    position: fixed;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;

    &.dark{
        a{
            background-color: black;
            border: 1px solid rgba(255, 255, 255, 0.5);
        }
    }

    a{
        $dotw : 15px;
        width: $dotw;
        height: $dotw;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background-color: $l-bg;
        border-radius: $dotw;
        cursor: pointer;
        font-size: 0;

        &.active{
            background-color: $l-primary;
        }
    }
}
