@import "./global.scss";

footer{

    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 40px 10vw ;
    margin-top: 100px;
    padding-bottom: 150px;
    overflow: hidden;

    background-color: #121212 ;

    color: white;

    a, p{
        font-family: $font-familly-text;
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }

    h4{
        font-family: $font-familly-title;
        margin-bottom: 20px;
    }

    .social{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 20px;
                margin-bottom: 20px;

                a{
                    background-color: #2F2F2F;
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    transition: all 0.25s;

                    &:hover{
                        transform: scale(1.1);

                        svg{
                            fill: $l-primary;
                        }
                    }

                    svg{
                        transition: all 0.25s;
                        width: 24px !important;
                        align-self: center;
                        fill: white;
                    }
                }
            }

    :first-child{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 50px;

        >div{
            display: flex;
            flex-direction: column;

            &.pages{
                gap :20px
            }

            > svg{
                fill: white;
                color: white;

                height: 40px;
            }

            &:first-child{
                width: 200px;
                justify-content: flex-start;
                gap: 40px;
            }
        }

        > form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .newsletter_input{
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                border-radius: 8px;
                max-width: 300px;

                input{
                    border: 0;
                    background-color: transparent;
                    height: 30px;
                    margin-left: 5px;
                    outline: 0;
                    transition: all 0.75s;

                    &.submited{
                        width: 0;
                        padding: 0;
                        margin: 0;
                    }
                }

                input::placeholder{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #171717BF;
                }

                button{
                    background-color: $l-primary;
                    height: 30px;
                    width: 90px;
                    border: 0;

                    color: black;
                    padding: 0 10px;
                    border-radius: 5px;

                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    transition: all 0.75s;
                    margin: 1px;

                    &.submited{
                        width: 300px;
                    }
                }
            }
        }
    }

    > :last-child{
        margin-top: 70px;
    }
}

@media only screen and (max-width: 900px)  {

    footer{
        > :first-child{
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: 45% 45%;

            :nth-child(1){
                grid-row: 1;
                grid-column: 1/3;

                .social{
                    height: auto;

                    a{
                        height: fit-content;

                        svg{
                            width: 25px;
                        }
                    }
                }
            }

            :nth-child(4){
                grid-column: 1/3;
            }
        }
    }
}